.footer{
    width: 100%;
    /* height: 100vh; */
   
}
.footer-wrapper{
    background: url(../../assets/Footerbgg.png);
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
}
.f1{
    width: 330px;
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.f2{
}
ul{

    display: flex;
    flex-direction: column;
    color: black;
    width: 259px;
}